<!DOCTYPE html>
<html>
<head>
    <title>Jokes website - Add entry</title>
</head>
<body>
    <h1>Jokes website - Add entry</h1>
    <form method="post">
        {% csrf_token %}
        <label for="person">Person:</label>
        <select name="person" id="person">
            {% for person in persons %}
                <option value="{{ person.id }}">{{ person.name }}</option>
            {% endfor %}
        </select><br><br>
        <label for="content">Quote:</label>
        <input type="text" name="content" id="content"><br><br>
        <input type="submit" value="Add entry">
    </form>
</body>
</html>
